@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;700&display=swap");

body {
  background: url(../img/bg.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: calc(100vh - 59px);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pacifico", cursive;
  justify-content: center;
}

.title small {
  color: #fd3587;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: -35px;
}

.title span {
  color: #fff;
  font-weight: 400;
  font-size: 90px;
}

.form__fields{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 410px;
  padding: 120px 45px 80px;
  border-radius: 5px;
  align-items: center;
  position: relative;
}

.form__figure {
  background: url(../img/monster.gif);
  background-size: cover;
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  overflow: hidden;
  border: 3px #fff solid;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
}

.form__input {
  background: #f5f5f5;
  border: none;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 80%;
  font-size: 15px;
  font-weight: 400;
}

.form__button {
  border-radius: 5px;
  background: #22cfe7;
  padding: 20px;
  width: 200px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.form__button:hover{
    color: #fff;
    background: #008193;
    transition: all .5s;

}

#target{
    position: absolute;
    height: 68%;
    background: #fff;
    top: 106px;
    width: 100%;
    display: none;
}

#target.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}

#target h2 {
    color: #22cfe7;
    font-weight: 300;
    font-size: 54px;
    font-family: "Pacifico", cursive;
    line-height: 1;
   
}

#target h3 {
    font-size: 54px;
    font-weight: 400;
    font-family: "Pacifico", cursive;
    line-height: 1;
}

#target p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 10px 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.credits {
  display: flex;
  color: #fff;
}

.credits li {
  margin: 0 8px;
}
.credits a {
  color: #fff;
  transition: all .5s;
}

.credits a:hover{
    color: #22cfe7;
}
